:root {
  font-family: quasimoda, sans-serif;
  font-style: normal;
  font-size: 50px;
  --text-primary: #000;
  --text-secondary: #fe7210;
  --text-tertiary: #fcbb15;
  --bg-primary: #fff;
  --bg-secondary: #000;
  --bg-yellow-w-opacity: rgba(252, 187, 21, 50%);
}

html {
  list-style: none;
}

body {
  color: var(--text-primary);
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
}

body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--bg-primary);
}
.page {
  min-height: 100vh;
  /* position: relative; */
}

main {
  margin-left: 6rem;
  margin-right: 1rem;
  padding: 1rem;
  background-color: var(--bg-primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Navbar */

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* border-top-right-radius: 25px;
  border-bottom-right-radius: 25px; */
}

.navbar-nav {
  /* list-style: none; */
  padding: 0.55rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-logo {
  padding: 0.5rem;
}

.nav-item {
  width: 100%;
  cursor: pointer;
  list-style: none;
  padding: 0.15rem 0;
}

/* .nav-item:first-child {
  height: 4rem;
} */

.nav-border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0.7rem;
  /* background-color: var(--bg-primary); */
  border-radius: 0.5rem;
}

.nav-border-logo {
  height: 3.7rem;
  background-color: white;
  border-radius: 0.5rem;
}

.nav-link {
  font-size: 0.25rem;
  text-decoration: none;
  color: var(--bg-primary);
  font-weight: 800;
}

.nav-border:hover {
  color: var(--text-primary);
  background-color: var(--bg-primary);
}
.media {
  padding: 0 2rem;
  margin-top: auto;
}
.media-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.media-item path:hover {
  fill: var(--text-tertiary);
}

/*------------------------------------------------------------------------------------- main start - Dashboard -----------------------------------------------------------------------*/

.heading {
  /* padding: 0.2rem 0 0.2rem 0; */
}

.heading .heading-head {
  display: flex;
  list-style: none;
  justify-content: space-between;
  /* height: 1rem; */
  padding-left: 0 !important;
}

.heading-item {
  width: 100%;
  font-weight: 800;
  color: var(--text-secondary);
  font-size: 1.2rem;
  /* text-shadow: 0 6px 12px rgba(0, 0, 0, 1), 0 0 0 #000; */
}

.heading-item:last-child {
  /* margin-right: auto; */
  text-align: right;
  color: var(--text-tertiary);
}

.introduction {
  text-align: center;
  /* padding: 0.2rem 0 0.2rem 0; */
}
.intro-heading {
  font-size: 0.6rem;
  font-style: italic;
  font-weight: 800;
  line-height: 1.5;
  margin: 0;
}

.designer {
  color: var(--text-secondary);
}

.developer {
  color: var(--text-tertiary);
}

.intro-subtitle {
  font-size: 0.25rem;
  font-style: italic;
  padding-bottom: 0.5rem;
  color: var(--text-secondary);
  text-align: center;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.contact-wrapper .contact-button {
  height: 1rem;
  width: 6rem;
  background-color: var(--bg-secondary);
  color: var(--bg-primary);
  font-size: 0.4rem;
  font-style: normal;
  font-weight: 800;
  /* padding: 0.15rem 0; */
  border-radius: 0.5rem;
  align-items: center;
  display: flex;
  justify-content: center;
}
.nLine {
  display: none;
}

hr {
  padding: 1px 0;
  border: none;
}

/* transition for Dashboard hr */
.trans--grow {
  width: 0;
  -webkit-transition: width 1.5s ease-out; /* For Safari 3.1 to 6.0 */
  transition: width 1.5s ease-out;
}
.grow {
  width: 100%;
}

.upperline {
  background-color: var(--text-primary);
  margin-left: 0;
}

.lowerline {
  background-color: var(--text-primary);
  margin-right: 0;
}

.menu {
  display: none;
}

/*-------------------------------------------------------------- Header for all pages except Dashboard ---------------------------------------------------------------*/

.page-header-sections {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header-items {
  width: 100%;
}

.pagetitleup {
  font-size: 0.3rem;
  margin-left: 0.5rem;
  text-align: right;
  color: var(--text-tertiary);
  font-weight: 800;
  width: auto;
}

.pagetitledown {
  font-size: 0.3rem;
  margin-right: 0.5rem;
  text-align: left;
  color: var(--text-secondary);
  font-weight: 800;
  width: auto;
}

.upperline-pages {
  background-color: var(--text-primary);
  margin-left: 0;
}

.lowerline-pages {
  background-color: var(--text-primary);
  margin-right: 0;
}

/*-------------------------------------------------------------- Skills Page ---------------------------------------------------------------*/

.page-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.page-content {
  width: 100%;
  padding: 0.5rem;
}
.skill-title {
  padding: 0.5rem 0;
  line-height: 1.3;
}

.design-text {
  font-family: rad, sans-serif !important;
  font-weight: 400;
  font-style: normal;
  color: var(--text-secondary);
  font-size: 1.1rem;
}
.plustext {
  font-family: quasimoda-2, sans-serif;
  font-weight: 100;
  font-style: normal;
}

.devtext {
  font-weight: 800;
  font-style: italic;
  color: var(--text-tertiary);
}
.skill-desc {
  font-size: 0.5rem;
  padding: 0.5rem 0;
  line-height: 1.3;
  font-weight: 300;
}

.skills-wrapper {
  margin: 1rem 0;
}

.skill-text {
  font-size: 0.5rem;
  font-style: italic;
  font-weight: 850;
  color: var(--text-secondary);
}

.skill-options {
  margin: 0.6rem 0;
  padding: 0;
}

.skill-options li {
  list-style: none;
  font-size: 0.5rem;
  line-height: 0.7rem;
  font-weight: 300;
}

.super {
  vertical-align: super;
  font-size: 0.3rem;
  color: var(--text-tertiary);
}

.tools-content {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-start: 0;
  padding: 0 0.5rem;
  margin: 0.6rem 0;
}

.tools {
  width: 100%;
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--bg-secondary);
  border-style: solid;
  border-radius: 10px;
  border-color: var(--text-tertiary);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*-------------------------------------------------------------- Contact Me Page ---------------------------------------------------------------*/

.contact-title {
  font-weight: 800;
  font-style: italic;
  color: var(--text-secondary);
  padding: 0.5rem 0;
}
.contact-desc {
  font-size: 0.5rem;
  line-height: 1.3;
  font-weight: 300;
}

.contact-details-wrapper {
  display: flex;
  align-items: center;
  /* margin: 0.5rem 0; */
  /* justify-content: space-between; */
  flex-direction: row;
}

.contact-details {
  width: auto;
}

.contact-items li {
}

.contact-item-logo {
  font-size: 0;
  padding: 0.1rem;
}
.contact-item-logo svg {
  width: 0.4rem;
  height: 0.4rem;
}

.information {
  width: 100%;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.contact-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-item-desc {
  border: 1px solid;
  border-color: var(--bg-yellow-w-opacity);
  height: 1rem;
  width: auto;
  padding: 0.4rem;
  margin: 0.25rem;
  font-size: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  font-style: italic;
}

.form-group {
  list-style: none;
  font-family: quasimoda, sans-serif;
  display: block;
  padding: 0;
}

.form-group li.form-half:first-child {
  margin-left: 0;
}
.form-group li.form-half {
  float: left;
  width: 49%;
  margin-left: 2%;
}

.form-group .form-item:nth-child(3) {
  margin-bottom: 0.2rem;
}
.contact-form input[type="text"],
.contact-form input[type="email"] {
  width: 100%;
  color: var(--text-primary);
  background-color: transparent;
  border-radius: 0.2rem;
  font-weight: 300;
  font-style: normal;
  padding: 0.3rem;
  font-size: 0.3rem;
  font-family: quasimoda, sans-serif;
}

.form-group input,
.form-group textarea {
  border: 1px solid var(--bg-yellow-w-opacity);
}

.form-group textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 3.5rem;
  border-radius: 0.2rem;
  padding: 0.3rem;
  font-weight: 300;
  font-style: normal;
  font-size: 0.3rem;
  font-family: quasimoda, sans-serif;
  overflow: auto;
}
.form-item {
  padding: 0;
  margin: 0;
  text-align: left;
}

.form-item button {
  width: 3rem;
  height: 1rem;
  padding: 0;
  margin: 0;
  border-radius: 0.5rem;
  color: var(--bg-primary);
  background-color: var(--bg-secondary);
  border: none;
  font-size: 0.3rem;
  font-weight: 800;
  font-style: normal;
  cursor: pointer;
}

/* ------------------------------------------ Responsive 1300px max -------------------------------------------*/

@media screen and (max-width: 1300px) {
  main {
    margin-left: 1rem;
  }
  /*Dashboard*/

  .heading .heading-head {
    display: block;
    text-align: center;
  }
  .heading-item {
    padding: 0.25rem 0;
  }
  .heading-item:last-child {
    text-align: center;
  }
  .intro-heading {
    margin: 1rem 0;
  }
  .nLine {
    display: block;
  }
  .menu {
    position: fixed;
    display: flex;
    right: 0.35rem;
    top: 0.25rem;
    z-index: 3;
    height: 0.7rem;
    width: 0.7rem;
    background-color: var(--bg-secondary);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
  }
  .menu svg {
    width: 0.35rem;
    fill: var(--bg-primary) !important;
  }

  .navbar {
    position: fixed;
    background-color: var(--bg-secondary);
    height: 100vh;
    width: 100%;
    border-radius: 0;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 1s ease-out;
    align-items: center;
    justify-content: center;
  }

  .nav-border,
  .nav-border-logo {
    width: 5rem;
  }

  .navbar.open {
    clip-path: circle(2000px at 90% -20%);
    -webkit-clip-path: circle(2000px at 90% -20%);
  }

  .navbar-nav li {
    opacity: 0;
  }

  .navbar li:nth-child(1) {
    transition: all 1s ease 0.2s;
  }
  .navbar li:nth-child(2) {
    transition: all 1s ease 0.4s;
  }
  .navbar li:nth-child(3) {
    transition: all 1s ease 0.6s;
  }
  .navbar li:nth-child(4) {
    transition: all 1s ease 0.8s;
  }

  li.fade {
    opacity: 1;
  }

  /*Skills*/

  .page-content-wrapper {
    flex-direction: column;
  }
  .skills-wrapper {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  /*Contact*/

  .contact-details-wrapper {
    flex-direction: column-reverse;
  }
  .logos ul {
    display: flex;
    flex-direction: row;
  }
}
